%button {
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}

.button-primary {
    @extend %button;
    background: rgb(94, 168, 216);
    color: white;
    text-transform: uppercase;

    &:active {
        background: #4b92bf;
    }
}

button[disabled] {
    opacity: .5;
}

input[type="email"], input[type="text"], textarea {
    border: 1px solid rgb(209, 209, 209);
    padding: 12px;
}