@import '../../variables';

.new-comment-form {
    display: grid;
    grid-row-gap: 10px;
    padding: 20px $comments-container-horizontal-padding; 
    background: rgb(239, 239, 239);
}

.submit-comment-btn {
    justify-self: end;
}