@import '../../shared/styles/variables';

.comments {
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgb(239, 239, 239);
    padding-bottom: 25px;

    &-filter-input {
        margin: 25px 0 0px $comments-container-horizontal-padding;
        width: calc(100% - #{$comments-container-horizontal-padding*2});
        background: url('./magnifying-glass.svg') no-repeat left 8px center;
        background-size: 16px auto;

        .comments & {
            padding-left: 30px;
        }
    }

    &-list {
        list-style: none;
        padding: 0 $comments-container-horizontal-padding;
        margin: 25px 0;
    }

    &-list-item {
        margin-bottom: 20px;
    }

    .empty-state-message {
        text-align: center;
    }
}