.comment {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 100px auto;
    grid-row-gap: 10px;
    overflow-wrap: break-word;

    &-pic {
        grid-row: 1/3;
        grid-column: 1/2;
        border-radius: 5px;
        align-self: start;
    }

    &-author {
        font-weight: bold;
        min-width: 0; // fix for overflow-wrap
    }

    &-text {
        color: rgb(147, 147, 147);
        min-width: 0; // fix for overflow-wrap
    }
}